<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>

	<appSettings>
		<!-- Cổng server sẽ lắng nghe, bạn có thể chọn 8080 hoặc 9000 -->
		<add key="ServerPort" value="8080" />
	</appSettings>
</configuration>
